*.pem
test-output/
groups-output/
mini-groups-output/
groups.txt
*.Rhistory
tweetdump.txt
my_secret_codes.txt
Gemfile.lock
_site*
*.DS_Store
*~
out.*
out_*
*.backup
*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dvi
*.err
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdy
*.tdo
*.o
*.so
