.Rhistory
Lecture_[0-9][0-9].Rmd
Lecture_[0-9][0-9].md
Gemfile.lock
_site*
my_secret_codes.txt
tweetdump.txt
*~
*.aux
*.log
*.out
*.backup
ptPre*
ptPost*
TwoThou*
PowersMean*
MixtureMH.*
MixturePT.*
groups-output/
mini-groups-output/
groups.txt
*.swp
